
p {
    color: red;
  }

.note{
    color: rgb(1, 255, 200);
}

a:hover{
    color: #07ff13;
}

html{
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

h1{
    /* font-size: 20px; */
    text-align: center;
}

p,
li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body{
    width: 900px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img{
    display: block;
    margin: auto auto;
}